<div class="main-container">


<div class="form-container">

    <h2>Registration</h2>
    <form>
        <label> Firstname </label>
        <input type="text" name="firstname" size="15" /> <br> <br>
        <label> Lastname: </label>
        <input type="text" name="lastname" size="15" /> <br> <br>
        <label> Username: </label>
        <input type="text" name="username" size="15" /> <br> <br>
        <label> password: </label>
        <input type="text" name="password" size="15" /> <br> <br>
        <label>Re-type password:</label>
        <input type="Password" id="repass" name="repass"> <br> <br>
        <label> email: </label>
        <input type="text" name="email" size="15"/> <br> <br>
        <label>
            Gender :
        </label><br>
        <input type="radio" name="male" /> Male <br>
        <input type="radio" name="female" /> Female <br>
        <input type="radio" name="other" /> Other <br>
        <a routerLink="/login">Go to Login</a>
         <br><br>
            <button routerLink="/login"> submit</button>
    </form>
</div>
</div>